*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    letter-spacing: 1px;
    margin-top: 30px;
}
h1 .uno{
    color: rgb(6, 142, 6);
}

h1 .dos{
    color: red;
}

h1 .tres{
    color: blue;
}

.app {
    width: 300px;
    margin: 70px auto;
   
  }
  
  .player {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: rgb(6, 185, 185);
    letter-spacing: 1px;
    padding: 10px;
    /*background-color: yellow;*/
  }
  
  .board {
    display: flex;
    flex-direction: column;
  }
  .row {
    display: flex;
  }
  .cell {
    width: 100px;
    height: 100px;
    border: solid 2px rgb(85, 75, 124);
    font-size: 28px;
    font-weight: bolder;
    color: red;
  }